<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461547535656-9o7hn17nu3heo70gte6cpm1vat1fodqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461547535656-9o7hn17nu3heo70gte6cpm1vat1fodqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDXGSQISWcx6-OCfHVdrr_exhHm0lH2x_g</string>
	<key>GCM_SENDER_ID</key>
	<string>461547535656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatOneToOne</string>
	<key>PROJECT_ID</key>
	<string>onetoonechat-62970</string>
	<key>STORAGE_BUCKET</key>
	<string>onetoonechat-62970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461547535656:ios:1deeb079c8894220d5a41d</string>
</dict>
</plist>